#!/usr/bin/make -f
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DESTDIR=$(CURDIR)/debian/erlang-p1-xmpp

%:
	dh $@ --buildsystem=rebar --with rebar

override_dh_auto_install:
	dh_auto_install
	for file in include/*.hrl priv/lib/*.so ; do \
	        fname=$$(basename $${file}) ; \
	        subdir=$$(dirname $${file}) ; \
	        if [ ! -f $(DESTDIR)/usr/lib/erlang/lib/p1_xmpp-$(DEB_VERSION_UPSTREAM)/$${subdir}/$${fname} ] ; then \
	                install -m 755 -d $(DESTDIR)/usr/lib/erlang/lib/p1_xmpp-$(DEB_VERSION_UPSTREAM)/$${subdir} ; \
	                install -m 644 $${file} $(DESTDIR)/usr/lib/erlang/lib/p1_xmpp-$(DEB_VERSION_UPSTREAM)/$${subdir} ; \
	        fi ; \
	done
